<div class="dropdown cls-pickuplocations-div" style="display : none;" >
    <select class="clsstorename" name="storename">
        <option>choose store</option>
    </select>
    {% comment %} <a href="javascript:void(0)" class="cnc-modal-open">see store info<i class="fa fa-info" aria-hidden="true"></i></a> {% endcomment %}
</div>