body.bg-hidden {
    overflow: hidden;
    position: relative
}

button.cart-btn.gotocheckout.checkoutbtn.disabled {
    cursor: no-drop
}

button.cart-btn.gotocheckout {
    cursor: pointer
}

.cart-popup {
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    margin: 2em auto;
    padding: 10px 30px;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    right: 50%;
    width: 100%;
    max-width: 80%;
    z-index: 9;
    transform: translate(-50%, -50%);
    top: 50%
}

.cart-popup-box .popup-inner-col ul.order-list {
    padding: 0 5px;
    margin: 0
}

.cart-popup .address-popup h4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0;
    font-size: 18px
}

.cart-popup .popup-inner-col .add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.cart-popup .popup-inner-col {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    padding-bottom: 20px
}

.cart-popup .cart-popup-box h3 {
    font-size: 20px;
    line-height: 30px;
    color: #141414
}

.cart-popup .cart-popup-box p {
    margin: 10px 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300
}

.cart-popup .address-popup,
.cart-popup .radio-cart {
    margin-top: 2.5em;
    max-width: 95%
}

.cart-popup .check-btn input {
    border: 1px solid #000;
    min-height: 60px;
    padding-left: 15px;
    border-radius: 10px 0 0 10px;
    min-width: 91%
}

.cart-popup .check-btn input::placeholder {
    font-size: 17px;
    line-height: 27px
}

.cart-popup button.check-btn {
    cursor: pointer;
    background: #141414;
    color: #fff;
    min-height: 62px;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 0 10px 10px 0;
    margin-left: -70px;
    position: absolute;
    margin-top: -1px
}

.cart-popup ul.order-list li {
    list-style: none;
    margin: 6px 0;
    font-size: 15px;
    line-height: 22px;
    color: #141414
}

.cart-popup .popup-inner-col button {
    margin: 20px 0;
    border: none
}

.cart-popup .popup-inner-col button a {
    border-radius: 5px;
    background: #141414;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none
}

.cart-popup .popup-inner-col .add label {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    color: #141414;
    padding-left: 5px
}

.cart-popup .address-popup img {
    max-width: inherit;
    object-fit: contain;
    width: 26px;
}

.cart-popup .cart-popup-box a.cross img {
    background: #d40000;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: -8px;
    top: -5px;
    width: 26px;
    height: 26px;
}

.cart-popup img {
    max-width: 100%
}

.cart-body img {
    max-width: 80px;
    min-height: 80px;
    object-fit: cover
}

.cart-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 65%
}

.cart-popup .remove-allitem svg path,
svg.icon.icon-remove path {
    fill: red
}

.cart-popup .radio-cart {
    border: 1px solid #222;
    border-radius: 9px;
    padding: 10px;
    margin: 20px 0;
    overflow: auto
}

.cart-popup .quantity-row h3 {
    margin: 0;
    width: 100%
}

.cart-popup .radio-btn {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.cart-popup quantity-input.quantity button {
    width: auto;
    padding: 0 10px
}

.cart-popup .cart-right quantity-input.quantity {
    max-width: 100px;
    min-height: 0
}

.cart-popup .quantity-row {
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 70%;
}

.cart-popup .cart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px
}

.cart-popup span.redish {
    color: red
}

.cart-popup .sub-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0
}

.cart-popup button.cart-btn {
    width: auto;
    padding: 10px 15px;
    font-size: 16px;
    background: #000;
    color: #fff;
    line-height: 24px;
    margin: 10px 0;
    border-radius: 7px
}

.cart-popup .cart-right hr {
    margin: 10px 0
}

.cart-popup .cart-border {
    border: 1px solid #111;
    border-radius: 10px;
    padding: 0 15px;
    max-height: 300px;
    overflow: auto
}

.cart-box .cart-right,
.cart-popup .cart-box .cart-left {
    width: 50%
}

.cart-popup .cart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.cart-popup p.note {
    font-size: 18px;
    line-height: 26px;
    color: #111
}

.hide {
    display: none !important
}

.cart-popup .remove-allitem {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 0 8px;
    border-radius: 5px;
    margin: 15px 0 0
}

.cart-popup .remove-allitem p {
    margin: 0;
    color: red
}

p.error-massage.active {
    width: 100%;
    text-align: left;
    margin: 10px 0 0
}

.cart-popup .radio-btn label {
    cursor: pointer;
    font-size: 18px
}

.cart-popup .cart-box .cart-right p {
    margin: 0
}

.radio-btn input {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    position: relative;
    top: 2px
}

.cart-popup ::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px
}

.cart-popup ::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px
}

.cart-popup ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px
}

.cart-popup ::-webkit-scrollbar-thumb:hover {
    background: 0 0
}

cart-remove-button .button {
    min-height: 2.5rem !important
}

@media screen and (max-width:1600px) {
    .cart-popup .cart-btn {
        max-width: 49%;
        min-width: 49%;
    }
}

@media screen and (max-width:1400px) {
    .cart-popup button.cart-btn {
        font-size: 12px;
        line-height: 20px;
        padding: 10px 8px;
    }
    .cart-popup p.note {
        font-size: 15px;
        line-height: 24px;
    }
    .cart-body {
        gap: 10px;
        width: 60%;
    }
}

@media screen and (max-width:991px) {

    .cart-box .cart-left,
    .cart-box .cart-right,
    .cart-popup .address-popup,
    .cart-popup .radio-cart {
        max-width: 100%;
        width: 100%
    }

    .cart-popup .check-btn input {
        min-width: 100%;
        border-radius: 10px
    }

    .cart-popup button.check-btn {
        margin-left: -90px
    }
}

@media screen and (max-width:767px) {
    .cart-box {
        height: 500px;
        overflow: auto;
        padding-right: 10px
    }

    .check-btn {
        position: relative
    }

    .cart-popup {
        padding: 10px 2px 10px 15px !important;
        width: 90% !important;
        max-width: 100%
    }

    .cart-left {
        width: 100% !important
    }

    .cart-popup .quantity-row {
        height: auto !important;
        min-height: 0 !important
    }

    .cart-popup .cart-popup-box button.check-btn {
        padding: 0 15px;
        font-size: 17px
    }

    .cart-popup button.check-btn {
        margin-left: -83px
    }

    .cart-popup button.cart-btn {
        font-size: 14px
    }

    cart-remove-button .button {
        min-height: 2.5rem !important
    }
}


@media screen and (max-width:480px) {
    .cart-popup .cart-btn {
        max-width: 100%;
        min-width: 100%;
        margin: 5px 0 !important;
    }
    .cart-popup .cart-body {
        width: 100%;
    }
}


.cart__footer button.cart-btn.button {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
    width: 100%;
    margin: unset
}

.bg-hidden::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    z-index: 1
}

.remove-allitem>span {
    display: block;
    position: relative;
    z-index: -1
}
.radio-btn.green {
    color: green;
}